* {
  padding: 0;
  margin: 0;
  font-family: Roboto, open sans;
}


.sidebar {
  width: 20%;
  height: 90vh;

}



.main {
    width: 75%;
    height: 90vh;
    
}

@media (max-width:766px) {
    .sidebar {
        width: auto;
        height: 90vh;
      }
      
      .main {
          width: auto;
          height: 90vh;
      }  
}

img {
    width: 50px;
    border-radius: 50%;
  }


.img__main {
  width: 20%;
  border-radius: 0;
}

h1 {
  font-size: 47px;
}

.btn__chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #e8ebe4;
}

button {
  width: 150px;
  height: 50px;
  background-color: #a491d2;
  color: white;
  border: none;
}

p {
  font-size: large;
  text-align: center;
  width: 450px;
}
